<div class="section-about story">
  <img
    class="about-img"
    src="{{ 'About.png' | asset_url }}"
    alt="Laila El Mehelmy" />
  <div class="story-text">
    <img src="{{ 'OUR-STORY.png' | asset_url }}" alt="" />
    <p>
      Laila El Mehelmy, a visionary jewellery artist, introduced her
      eponymous brand, Laila, in the heart of Amsterdam. With a deep
      reverence for her Arab heritage, Laila effortlessly intertwines
      cultural narratives into each piece, offering a rare glimpse into the
      beauty of tradition and innovation. The collections reflect her love
      for sculptural artistry, where every design is meticulously crafted to
      tell a unique story.
    </p>
  </div>
</div>

<div class="section-about timeless">
  <img src="{{ 'Time.png' | asset_url }}" alt="" />
  <p>
    Laila's creations feature fluid, organic forms with intricate detail,
    blending boldness and refinement. Crafted from transformed precious
    metals, her jewellery offers a tactile experience, highlighting the
    interplay of light, texture, and form. Drawing from her Arab heritage,
    Laila combines cultural richness with modern elegance, creating pieces
    that embody timeless artistry and personal expression.
  </p>
</div>