<section>
  <footer class="footer">
    <div class="footer-column">
      <h4>CONTACT US</h4>
      <div class="social-icons">
        <img src="{{ 'Social Icons.png' | asset_url }}" alt="Instagram" />
        <img src="{{ 'Vector.png' | asset_url }}" alt="Facebook" />
        <img
          class="group"
          src="{{ 'Group.png' | asset_url }}"
          alt="Twitter" />
      </div>
    </div>

    <div class="footer-column">
      <h4>SUPPORT</h4>
      <ul>
        <li>
          <a href="pages/shipping_delivery" style="text-decoration: none; color:black;">SHIPPING & DELIVERY</a></li>
        <li>RETURNS & EXCHANGE</li>
        <li>RING SIZE GUIDE</li>
        <li>JEWELLERY CARE</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>PRIVACY POLICY</h4>
      <ul>
        <li>TERMS & CONDITIONS</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>LAILA EL MEHELMY, 2025</h4>
      <p>ALL RIGHTS RESERVED</p>
    </div>
  </footer>
</section>