<section>
  <footer class="footer">
    <div class="footer-column">
      <h4>CONTACT US</h4>
      <div class="social-icons">
        <img src="{{ 'Social Icons.png' | asset_url }}" alt="Instagram" />
        <img src="{{ 'Vector.png' | asset_url }}" alt="Facebook" />
        <img
          class="group"
          src="{{ 'Group.png' | asset_url }}"
          alt="Twitter" />
      </div>
    </div>

    <div class="footer-column">
      <h4>SUPPORT</h4>
      <ul>
        <li><a href="pages/shipping_delivery" style="text-decoration: none; color:black;">SHIPPING & DELIVERY</a></li>
        <li><a href="pages/returns_exchange" style="text-decoration: none; color:black;">RETURNS & EXCHANGE</a></li>
        <li><a href="pages/ring_size" style="text-decoration: none; color:black;">RING SIZE GUIDE</a></li>
        <li><a href="pages/jwellery_care" style="text-decoration: none; color:black;">JEWELLERY CARE</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>
        <a href="pages/privacy_policy" style="text-decoration: none; color:black;">PRIVACY POLICY</a>
      </h4>
      <ul>
        <li><a href="pages/terms_conditions" style="text-decoration: none; color:black;">TERMS & CONDITIONS</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>LAILA EL MEHELMY, 2025</h4>
      <p>ALL RIGHTS RESERVED</p>
    </div>
  </footer>
</section>