<style>
  @font-face {
    font-family: "GT Cinetype Trial";
    src: url("{{ 'GT-Cinetype-Regular.woff2' | asset_url }}") format("woff2");
  }
  @font-face {
    font-family: "CenturySchoolbook";
    src: url("{{ 'SCHLBKB.TTF' | asset_url }}") format("truetype");
  }

  .container {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding-top: 100px;
  }

  .section4 {
    flex: 3;
    text-align: center;
  }

  .section4 img {
    width: 275px;
    height: 25px;
    margin-bottom: 60px;
  }

  .section4 {
    margin-bottom: 60px;
  }

  .section4 h2 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -4%;
    margin-bottom: 15px;
    font-family: GT Cinetype Trial;
  }

  .section4 p {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    max-width: 640px;
    margin: 0 auto;
    color: #161616;
    font-family: CenturySchoolbook;
  }

  .sidebar4 {
    flex: 1;
    padding-left: 40px;
  }

  .sidebar4 ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    letter-spacing: -4%;
    font-weight: 900;
    font-family: GT Cinetype Trial;
  }

  .sidebar4 li {
    margin-bottom: 20px;
    color: #000;
  }
  .sidebar4 li:hover {
    color: #d9d9d9;
    cursor: pointer;
  }

  .active {
    color: #d9d9d9 !important;
  }
</style>

<!-- sections/terms-and-conditions.liquid -->

<div class="container">
  <!-- Main Content -->
  <div class="section4">
    <img src="{{ 'TERMS_CONDITIONS.png' | asset_url }}" alt="Terms and Conditions" />

    <div class="section4">
      <h2>GENERAL</h2>
      <p style="text-align: start;">
        All offers, orders, and agreements are subject to these terms. By
 
 
        accepting an offer or placing an order, the customer agrees to these
        conditions. Laila El Mehelmy can modify the terms, and customers
        should review them regularly.
      </p>
    </div>

    <div class="section4">
      <h2>ORDERS</h2>
      <p style="text-align: start;">
        Orders are accepted only after successful payment. Minor variations
 
 
        may occur in handmade jewelry. If there’s an error in the order
        process, the customer will be contacted to complete the payment.
        Laila El Mehelmy can refuse orders or change terms for any reason.
      </p>
    </div>

    <div class="section4">
      <h2>PRICES & PAYMENT</h2>
      <p style="text-align: start;">
        Prices include VAT, and payment must be made in advance. Payment
 
 
        methods are listed on the website. Any customs duties and taxes are
        the customer’s responsibility. Full payment is required before the
        order is shipped.
      </p>
    </div>

    <div class="section4">
      <h2>DELIVERY</h2>
      <p style="text-align: start;">
        Delivery times are indicative, and Laila El Mehelmy isn’t liable for
 
 
        delays. Returns are accepted within 14 days if the product is unused
        and in original packaging. Return shipping costs are the customer’s
        responsibility.
      </p>
    </div>

    <div class="section4">
      <h2>LIABILITY</h2>
      <p style="text-align: start;">
        Laila El Mehelmy is not liable for any direct or indirect damage,
 
 
        including losses or damages from improper use of products. Liability
        is limited to the purchase price of the product.
      </p>
    </div>

    <div class="section4">
      <h2>FORCE MAJEURE</h2>
      <p style="text-align: start;">
        Laila El Mehelmy can cancel or delay orders in cases of force
 
 
        majeure, such as events beyond its control.
      </p>
    </div>

    <div class="section4">
      <h2>QUERIES & COMPLAINTS</h2>
      <p style="text-align: start;">
        Customers can contact Laila El Mehelmy for queries or complaints via
 
 
        email, and a response will be given within three working days.
      </p>
    </div>

    <div class="section4">
      <h2>WARRANTY & REPAIR</h2>
      <p style="text-align: start;">
        Laila El Mehelmy offers a 14-day guarantee against defects,
 
 
        excluding damages from improper use. Returns for repair or
        replacement must follow specific procedures.
      </p>
    </div>

    <div class="section4">
      <h2>APPLICABLE LAW & COURT</h2>
      <p style="text-align: start;">
        The terms are governed by Dutch law, with disputes being handled in
 
 
        Amsterdam courts.
      </p>
    </div>

    <div class="section4">
      <h2>COPYRIGHT</h2>
      <p style="text-align: start;">
        The website content is copyrighted, and reproduction without
 
 
        permission is prohibited.
        <br/><br/>
        By placing an order, customers agree to these terms and conditions.
      </p>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar4">
    <ul>
      <li>
        <a href="/privacy_policy" style="text-decoration: none; color:black;">PRIVACY POLICY</a>
      </li>
      <li class="active">TERMS & CONDITIONS</li>
    </ul>
  </div>
</div>